In [3]:
import numpy as np
import pandas as pd

In [4]:
match = pd.read_csv("matches.csv")
delivery = pd.read_csv("deliveries.csv")

In [5]:
delivery['inning'].value_counts()

1    92742
2    86240
3       50
4       38
5        8
Name: inning, dtype: int64

In [6]:
delivery = delivery[delivery['inning'] <= 2]

In [7]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [8]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [9]:
total_score_df = delivery.groupby(['match_id', 'inning']).sum()['total_runs'].reset_index()

In [10]:
total_score_df = total_score_df[total_score_df['inning'] == 1]

In [11]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1500     11347       1         143
1502     11412       1         136
1504     11413       1         171
1506     11414       1         155
1508     11415       1         152

[756 rows x 3 columns]

In [12]:
total_score_df['total_runs'] = total_score_df['total_runs'] + 1

In [13]:
total_score_df

      match_id  inning  total_runs
0            1       1         208
2            2       1         185
4            3       1         184
6            4       1         164
8            5       1         158
...        ...     ...         ...
1500     11347       1         144
1502     11412       1         137
1504     11413       1         172
1506     11414       1         156
1508     11415       1         153

[756 rows x 3 columns]

In [14]:
match_df = match.merge(total_score_df[['match_id', 'total_runs']], left_on = 'id', right_on = 'match_id')

In [15]:
match_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,185
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,184
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,164
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,144
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,137
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,172
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,156
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,153

In [16]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [17]:
match_df['team1'] = match_df['team1'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team1'] = match_df['team1'].replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team2'] = match_df['team2'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].replace('Delhi Daredevils', 'Delhi Capitals')

In [18]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [19]:
teams = ['Sunrisers Hyderabad', 'Mumbai Indians', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals',
       'Delhi Capitals']

In [20]:
match_df = match_df[match_df['team1'].isin(teams)]
match_df = match_df[match_df['team1'].isin(teams)]

In [21]:
match_df.shape

(700, 20)

In [22]:
match_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,208
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,185
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Capitals,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,158
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,7,179
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,8,149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi,11347,144
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould,11412,137
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN,11413,172
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin,11414,156
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong,11415,153

In [23]:
match_df = match_df[match_df['dl_applied'] == 0]

In [24]:
match_df['dl_applied'].value_counts()

0    682
Name: dl_applied, dtype: int64

In [25]:
match_df = match_df[['match_id', 'winner', 'total_runs']]

In [26]:
match_df

     match_id                       winner  total_runs
0           1          Sunrisers Hyderabad         208
1           2       Rising Pune Supergiant         185
4           5  Royal Challengers Bangalore         158
6           7               Mumbai Indians         179
7           8              Kings XI Punjab         149
..        ...                          ...         ...
751     11347               Mumbai Indians         144
752     11412               Mumbai Indians         137
753     11413               Delhi Capitals         172
754     11414          Chennai Super Kings         156
755     11415               Mumbai Indians         153

[682 rows x 3 columns]

In [27]:
delivery['batting_team'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [28]:
delivery['batting_team'] = delivery['batting_team'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
delivery['batting_team'] = delivery['batting_team'].replace('Delhi Daredevils', 'Delhi Capitals')

delivery['bowling_team'] = delivery['bowling_team'].replace('Deccan Chargers', 'Sunrisers Hyderabad')
delivery['bowling_team'] = delivery['bowling_team'].replace('Delhi Daredevils', 'Delhi Capitals')

In [29]:
delivery['batting_team'].unique()

array(['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Capitals',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [30]:
delivery = delivery[delivery['batting_team'].isin(teams)]
delivery = delivery[delivery['bowling_team'].isin(teams)]

In [31]:
match_df

     match_id                       winner  total_runs
0           1          Sunrisers Hyderabad         208
1           2       Rising Pune Supergiant         185
4           5  Royal Challengers Bangalore         158
6           7               Mumbai Indians         179
7           8              Kings XI Punjab         149
..        ...                          ...         ...
751     11347               Mumbai Indians         144
752     11412               Mumbai Indians         137
753     11413               Delhi Capitals         172
754     11414          Chennai Super Kings         156
755     11415               Mumbai Indians         153

[682 rows x 3 columns]

In [32]:
delivery_df = match_df.merge(delivery, on = 'match_id')

In [33]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,1,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,Sunrisers Hyderabad,208,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149494,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [34]:
delivery_df.shape

(149495, 23)

In [35]:
delivery_df['inning'].value_counts()

1    77082
2    72413
Name: inning, dtype: int64

In [36]:
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [37]:
delivery_df.inning.value_counts()

2    72413
Name: inning, dtype: int64

In [38]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
125,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,...,0,0,0,0,1,0,1,NaN,NaN,NaN
126,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,...,0,0,0,0,0,0,0,NaN,NaN,NaN
127,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,...,0,0,0,0,0,0,0,NaN,NaN,NaN
128,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,...,0,0,0,0,2,0,2,NaN,NaN,NaN
129,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,0,0,0,0,1,0,1,NaN,NaN,NaN
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,0,0,0,0,2,0,2,NaN,NaN,NaN
149494,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [39]:
delivery_df['current_score'] = delivery_df.groupby(['match_id']).cumsum()['total_runs_y']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\4163643878.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_score'] = delivery_df.groupby(['match_id']).cumsum()['total_runs_y']

In [40]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score
125,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,...,0,0,0,1,0,1,NaN,NaN,NaN,1
126,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,...,0,0,0,0,0,0,NaN,NaN,NaN,1
127,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,...,0,0,0,0,0,0,NaN,NaN,NaN,1
128,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,...,0,0,0,2,0,2,NaN,NaN,NaN,3
129,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,...,0,0,0,4,0,4,NaN,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,0,0,0,1,0,1,NaN,NaN,NaN,152
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,0,0,0,2,0,2,NaN,NaN,NaN,154
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,0,0,0,1,0,1,SR Watson,run out,KH Pandya,155
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,0,0,0,2,0,2,NaN,NaN,NaN,157
149494,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,...,0,0,0,0,0,0,SN Thakur,lbw,NaN,157

In [41]:
delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\1162889266.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['runs_left'] = delivery_df['total_runs_x'] - delivery_df['current_score']

In [42]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left
125,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,...,0,0,1,0,1,NaN,NaN,NaN,1,207
126,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,...,0,0,0,0,0,NaN,NaN,NaN,1,207
127,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,...,0,0,0,0,0,NaN,NaN,NaN,1,207
128,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,...,0,0,2,0,2,NaN,NaN,NaN,3,205
129,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,...,0,0,4,0,4,NaN,NaN,NaN,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,0,0,1,0,1,NaN,NaN,NaN,152,1
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,0,0,2,0,2,NaN,NaN,NaN,154,-1
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,0,0,1,0,1,SR Watson,run out,KH Pandya,155,-2
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,0,0,2,0,2,NaN,NaN,NaN,157,-4
149494,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,...,0,0,0,0,0,SN Thakur,lbw,NaN,157,-4

In [43]:
delivery_df['balls_left'] = 120 - (delivery_df['over'] - 1) * 6 - delivery_df['ball']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\1030450379.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['balls_left'] = 120 - (delivery_df['over'] - 1) * 6 - delivery_df['ball']

In [44]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
125,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,...,0,1,0,1,NaN,NaN,NaN,1,207,119
126,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,...,0,0,0,0,NaN,NaN,NaN,1,207,118
127,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,...,0,0,0,0,NaN,NaN,NaN,1,207,117
128,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,...,0,2,0,2,NaN,NaN,NaN,3,205,116
129,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,...,0,4,0,4,NaN,NaN,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,0,1,0,1,NaN,NaN,NaN,152,1,4
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,0,2,0,2,NaN,NaN,NaN,154,-1,3
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,0,1,0,1,SR Watson,run out,KH Pandya,155,-2,2
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,0,2,0,2,NaN,NaN,NaN,157,-4,1
149494,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,...,0,0,0,0,SN Thakur,lbw,NaN,157,-4,0

In [45]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna(0)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\2754935931.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna(0)

In [46]:
def conversion(player_dismissed):
    if player_dismissed != 0:
        player_dismissed = 1
    return player_dismissed

In [47]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(conversion)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\128534585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(conversion)

In [48]:
delivery_df['player_dismissed'].value_counts()

0    68860
1     3553
Name: player_dismissed, dtype: int64

In [49]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left
125,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,...,0,1,0,1,0,NaN,NaN,1,207,119
126,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,...,0,0,0,0,0,NaN,NaN,1,207,118
127,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,...,0,0,0,0,0,NaN,NaN,1,207,117
128,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,...,0,2,0,2,0,NaN,NaN,3,205,116
129,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,...,0,4,0,4,0,NaN,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,0,1,0,1,0,NaN,NaN,152,1,4
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,0,2,0,2,0,NaN,NaN,154,-1,3
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,0,1,0,1,1,run out,KH Pandya,155,-2,2
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,0,2,0,2,0,NaN,NaN,157,-4,1
149494,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,...,0,0,0,0,1,lbw,NaN,157,-4,0

In [50]:
delivery_df['wickets1'] = delivery_df.groupby(['match_id']).cumsum()['player_dismissed']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\632082702.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets1'] = delivery_df.groupby(['match_id']).cumsum()['player_dismissed']

In [51]:
delivery_df['wickets'] = 10 - delivery_df['wickets1']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\3757463285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets'] = 10 - delivery_df['wickets1']

In [52]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets1,wickets
125,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,...,0,1,0,NaN,NaN,1,207,119,0,10
126,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,...,0,0,0,NaN,NaN,1,207,118,0,10
127,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,...,0,0,0,NaN,NaN,1,207,117,0,10
128,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,...,0,2,0,NaN,NaN,3,205,116,0,10
129,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,...,0,4,0,NaN,NaN,7,201,115,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,0,1,0,NaN,NaN,152,1,4,5,5
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,0,2,0,NaN,NaN,154,-1,3,5,5
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,0,1,1,run out,KH Pandya,155,-2,2,6,4
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,0,2,0,NaN,NaN,157,-4,1,6,4
149494,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,...,0,0,1,lbw,NaN,157,-4,0,7,3

In [53]:
delivery_df['crr'] = delivery_df['current_score'] * 6/ (120 - delivery_df['balls_left'])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\888000555.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['crr'] = delivery_df['current_score'] * 6/ (120 - delivery_df['balls_left'])

In [54]:
delivery_df['rrr'] = delivery_df['runs_left'] * 6/ delivery_df['balls_left']

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\806282833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['rrr'] = delivery_df['runs_left'] * 6/ delivery_df['balls_left']

In [55]:
delivery_df = delivery_df[delivery_df['balls_left'] != 0]

In [56]:
def res(result):
    if result['batting_team'] == result['winner']:
        return 1
    else:
        return 0

In [57]:
delivery_df['result'] = delivery_df.apply(res, axis = 1)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_12184\861191969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['result'] = delivery_df.apply(res, axis = 1)

In [58]:
delivery_df

,match_id,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,...,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets1,wickets,crr,rrr,result
125,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,...,NaN,NaN,1,207,119,0,10,6.000000,10.436975,0
126,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,...,NaN,NaN,1,207,118,0,10,3.000000,10.525424,0
127,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,...,NaN,NaN,1,207,117,0,10,2.000000,10.615385,0
128,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,...,NaN,NaN,3,205,116,0,10,4.500000,10.603448,0
129,1,Sunrisers Hyderabad,208,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,...,NaN,NaN,7,201,115,0,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149489,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,1,SR Watson,RA Jadeja,...,NaN,NaN,151,2,5,5,5,7.878261,2.400000,0
149490,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,...,NaN,NaN,152,1,4,5,5,7.862069,1.500000,0
149491,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,...,NaN,NaN,154,-1,3,5,5,7.897436,-2.000000,0
149492,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,...,run out,KH Pandya,155,-2,2,6,4,7.881356,-6.000000,0
149493,11415,Mumbai Indians,153,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,...,NaN,NaN,157,-4,1,6,4,7.915966,-24.000000,0

In [59]:
final_df = delivery_df[['batting_team', 'bowling_team', 'runs_left', 'balls_left', 'wickets', 'total_runs_x', 'crr', 'rrr', 'result']]

In [60]:
final_df = final_df.sample(final_df.shape[0])

In [61]:
final_df.sample()

,batting_team,bowling_team,runs_left,balls_left,wickets,total_runs_x,crr,rrr,result
49924,Kolkata Knight Riders,Rajasthan Royals,42,36,9,160,8.428571,7.0,1

In [62]:
X = final_df.iloc[ : ,  : -1]
y = final_df.iloc[ : , -1]

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [66]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [67]:
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse = False, drop = 'first'),['batting_team', 'bowling_team'])
]
, remainder = 'passthrough')

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [69]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [70]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [71]:
y_pred = pipe.predict(X_test)

In [72]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7963976446137859

In [73]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))